<!-- <h2>Your Cart</h2>

<% if @cart && @cart.cart_items.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td>₹<%= item.product.price %></td>
          <td>₹<%= item.order_item.total_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

 <p><strong>Total: ₹<%= @cart.cart_items.sum { |item| item.total_price } %></strong></p> -->

   <%=# button_to "Place Order", orders_path, method: :post, class: "btn btn-success" %>
<%# else %>
  <!-- <p>Your cart is empty.</p> -->
<%# end %> 




<h1>Your Cart</h1>

<% @cart_items.each do |item| %>
  <div>
    <strong><%= item.product.name %></strong>
    <p>Quantity: <%= item.quantity %></p>
    <p>Price: ₹<%= item.product.price %></p>
    <p>Total: ₹<%= item.total_amount %></p>

    <%=# button_to "Remove", cart_item_path(item), method: :delete %>
  </div>
<% end %>

<h3>Total: ₹<%= @total_amount %></h3>

<%= button_to "Place Order", orders_path, method: :post, class: "btn btn-primary" %>
