<% if @current_user&.type == "Buyer" %>
<body>
    <%= render  "shared/buyer_header"%>
    <main>
      <section class="hero-section">
        <% @stores.each do |store|%>
          <div class="hero-slider">
            <div class="slide active">
              <div class="hero-content">
                <h1><%= link_to store.name, store %></h1>
                <p><%= store.description%></p>
                <button class="shop-now-button">Shop Now</button>
              </div>
              <img src="shoping.jpg" alt="Slide 1">
            </div>
            <% end %> 
      </section>
  	</main>

    <footer>
        <p>&copy; 2025 My E-commerce Website. All Rights Reserved.</p>
    </footer>
    <%= javascript_include_tag "home_index" %>

</body>
</html>
<% else %>

 <%= render  "shared/seller_nav"%>

 <h2>My Stores</h2>
<ul>
	<% @stores.each do |store|%>
		<li>
	    <%= link_to store.name, store %> 
	  </li>
	<% end %> 
</ul>
<%= link_to "Add new store" , new_store_path%>
<% end %>