
<% if @current_user&.type == "Buyer" %>
<header>
  <nav>
      <div class="logo">
          <a href="/home/index">ECommerce</a>
      </div>
      <ul>
          <li><a href="/home/index">Home</a></li>
          <li><a href="/users/:id">Profile</a></li>
          <li><a href="/cart_items">Cart Item</a></li>
      </ul>
  </nav>
</header>

<h1><%= @store.name %> Products</h1>
<% @products.each do |product| %>
  <div class="product-card">
    <h3><%= product.name %></h3>
    <p><%= product.description %></p>
    <p>₹<%= product.price %></p>
    <%= link_to "Add to Cart", "/cart_items?quantity=1&product_id=#{product.id}", data:{ turbo_method: :post }, class: 'btn btn-success' %>

    <%# <%= button_to "Add to Cart",  onclick: "alert('add-to-cart-button!'); return false;", method: :get %>

  </div>
<% end %>

<% else %> 

 <h3><%= @store.name %></h3>
   
<p><%= @store.description %></p>

<p><%= @store.seller_id %></p>
<ul>
<li><%= link_to "Edit" , edit_store_path(@store)%></li>
<li><%= link_to "Delete" , store_path(@store), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
                </ul>
<% end %>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const addToCartButton = document.getElementById('add-to-cart-button');
 const  quantity = parseInt(document.getElementById('quantity').value);
  if (addToCartButton) {
    addToCartButton.addEventListener('click', function(event) { 
      alert('Item added to cart!'); 
    });
  }
});

</script>