
<% if @current_user&.type == "Buyer" %>

<h1><%= @store.name %> Products</h1>
<% @products.each do |product| %>
  <div class="product-card">
    <h3><%= product.name %></h3>
    <p><%= product.description %></p>
    <p>₹<%= product.price %></p>
    <%= button_to "Add to Cart", new_cart_item_path(product_id: product.id), method: :get %>
  </div>
<% end %>

<% else %> 

 <h3><%= @store.name %></h3>
   
<p><%= @store.description %></p>

<p><%= @store.seller_id %></p>
<ul>
<li><%= link_to "Edit" , edit_store_path(@store)%></li>
<li><%= link_to "Delete" , store_path(@store), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
                </ul>
<% end %>