<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my Website</title>
    <%= stylesheet_link_tag "home_index" %>

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/home/index">ECommerce</a>
            </div>
            <ul>
                <li><a href="/home/index">Home</a></li>
                <li><a href="/products/">Products</a></li>
                <li><a href="/stores/">Stores</a></li>
                <li><a href="/users/new">Register</a></li>
                <li><a href="/session/new">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
       <section class="hero-section">
          <div class="hero-slider">
            <div class="slide active">
              <div class="hero-content">
                <h1>Welcome to Our Store</h1>
                <p>Shop the latest products and best deals</p>
                <button class="shop-now-button">Shop Now</button>
              </div>
              <img src="shoping.jpg" alt="Slide 1">
            </div>

            <div class="slide">
              <div class="hero-content">
                <h1>Big Discounts</h1>
                <p>Up to 50% off on selected products</p>
                <button class="shop-now-button">Explore</button>
              </div>
              <img src="icon.png" alt="Slide 2">
            </div>

            <div class="slide">
              <div class="hero-content">
                <h1>New Arrivals</h1>
                <p>Check out the latest collection</p>
                <button class="shop-now-button">Discover</button>
              </div>
              <img src="shoping.jpg" alt="Slide 3">
            </div>
          </div>
    </section>


        <section class="featured-products-section">
          
            <h2>Featured Products</h2>
            <% @products.each do |product|%>
            <div class="product-grid">
                <div class="product-card">
                    <img src="shoping.jpg" alt="Product 1">

                    <h3><%= product.name%></h3>
                    <p><%= product.description%></p>
                    <span class="price"><%= product.price%></span>
                    <button>Add to Cart</button>
                </div>
                <% end %>
            </div>
            
        </section>
    </main>

    <footer>
        <p>&copy; 2025 My E-commerce Website. All Rights Reserved.</p>
    </footer>
    <%= javascript_include_tag "home_index" %>

</body>
</html>
