

<%= render  "shared/buyer_header"%>

<h2>Order Confirmation</h2>

<p><strong>Order ID:</strong> <%= @order.id %></p>
<p><strong>Total Price:</strong> ₹<%= @order.total_price %></p>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td>₹<%= item.price %></td>
        <td>₹<%= item.quantity* item.price%></td>
      </tr>
    <% end %>
  </tbody>

</table>
<%= link_to "View Order Items", order_order_items_path(@order), class: "btn btn-info" %>


