<%= render  "shared/buyer_header"%>

  <ul>
    <li>name : <%= @product.name %></li>
    <li>Quantity : <%= @cart_item.quantity%></li>
    <li>Price :  ₹<%= @product.price %></li>
    <li>Total :  ₹<%= @total_amount %></li>
		<li><%= link_to "Edit" , edit_cart_item_path(@cart_item)%></li>
		<li><%= link_to "Delete" , cart_item_path(@cart_item), data: {
		                turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
                </ul>
<%= button_to "Order now", new_order_path, method: :get, class: "btn btn-primary" %>




<!--<h3>Cart Items</h3>
<ul>
<li>Quantity: <%= @cart_item.quantity%></li>
 <li>Buyer id : <%= @cart_item.buyer_id %></li> 
 <li>Product id : <%= @cart_item.product_id %> </li>
 <li><%= link_to "Edit" , edit_cart_item_path(@cart_item)%></li>
<li><%= link_to "Delete" , cart_item_path(@cart_item), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>-->