

<%= render  "shared/buyer_header"%>

<h1>Items in Order :<%= @order.id %></h1>

<% @order_items.each do |item| %>
  <div class="order-item">
    <p><strong>Product:</strong> <%= item.product.name %></p>
    <p><strong>Quantity:</strong> <%= item.quantity %></p>
    <p><strong>Price:</strong> ₹<%= item.price %></p>
    <p><strong>Subtotal:</strong> ₹<%= item.quantity * item.product.price %></p>

    <%# <%= link_to "View Item", order_order_items_path, class: "btn btn-outline-info" %> 

  </div>
  <hr>
<% end %>
<%= link_to "Back to Stores", stores_path, class: "btn btn-secondary" %>