<div class="container d-flex justify-content-center mt-5">
  <div class="p-4 border rounded shadow bg-white" style="min-width: 400px;">
    <h2 class="text-dark mb-4 text-center">Order Items Form</h2>

    <%= form_with model: @order_item do |form| %>
      <div class="mb-3">
        <%= form.label :quantity %>
        <%= form.number_field :quantity, id: 'quantity', class: "form-control" , onkeyup: "myfunc()" %>
      </div>

      <div class="mb-3">
        <%= form.label :price %>
        <%= form.number_field :price, id: 'price', class: "form-control", value: @order_item.product&.price, onkeyup: "myfunc()" %>
      </div>


      <div class="mb-3">
        <%= form.label :total_amount %>
        <%= form.number_field :total_amount ,id: 'total_amount', class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :order_id%>
        <%= form.collection_select :order_id, Order.order(:id) , :id ,:buyer_id%>
      </div>

      <div class="text-center">
        <%= form.submit "Submit", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

<script>
 function  myfunc(){
 const  quantity = parseInt(document.getElementById('quantity').value);
 const  price =parseFloat(document.getElementById('price').value);
 const total_amount = quantity * price;
  console.log('fdsg')
 document.getElementById('total_amount').value = total_amount;
}
</script>