<% if @current_user&.type == "Buyer" %>
<body>
  <%= stylesheet_link_tag "home_index" %>
    <%= render  "shared/buyer_header"%>
    <main>

      <section class="featured-products-section">
        <h2>Featured Products</h2>
        <div class="slider-container">
          <button class="slider-btn prev-btn">Previous</button>
          <div class="product-slider">
            <% @products.each do |product| %>
              <div class="product-card">
                <%# Add your image tag here %>
                <h3><%= product.name %></h3>
                <p><%= product.description %></p>
                <span class="price"><%= product.price %></span>
                <%= link_to "Add to Cart", "/cart_items?quantity=1&product_id=#{product.id}", data: { turbo_method: :post }, class: 'btn btn-success' %>
              </div>
            <% end %>
          </div>
    <button class="slider-btn next-btn">Next</button>
  </div>
</section>
    </main>

    <footer>
        <p>&copy; 2025 My E-commerce Website. All Rights Reserved.</p>
    </footer>
    <%= javascript_include_tag "home_index" %>

</body>

<% else %>

 <%= render  "shared/seller_nav"%>
<h2>My Products</h2>
 <ul>

	<% @products.each do |product|%>
		<li>
	    <%= link_to product.name, product %> 
	  </li>
	<% end %> 
</ul>
<%= link_to "Add new product", new_product_path%> 

<% end %>
